extends layout

block content
  div.concept
    h2 Qui sommes-nous ?
    h3 Une fabrique de monstre familiale avec un savoir faire transmis depuis 4 générations de père en fils
    h2 La garantie Monster'zer 
      ul
        li Satisfait ou remboursé.
        li 14 jours pour nous retourner votre monstre.
        li Garantie 2 ans. 
