doctype html
html
  head
    title Monster'zer
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Jolly+Lodger|Trade+Winds|Averia+Gruesa+Libre', rel='stylesheet')

  body
    a.logo(href="/home")
      h1 Monster'zer
    
    include menu  
    block content
